<div class="post">
	<div class="info-column">
		<div class="date">
			<%
			if(post.created) {
				var date = post.created.toDateString().split(' ');
				date.splice(0,1);
			%>
			<span><%= date[0]; %></span>
			<span><%= date[1]; %></span>
			<span><%= date[2]; %></span>
			<% } %>
		</div>
		<div class="comments">
			<span><%= (post.comments?post.comments.length:0) %></span>
			<span><small>Comments</small></span>
		</div>
	</div>
	<div class="content-column">
		<div class="header">
			<h3><a href="<%= post.permalink %>"><%= post.title %></a> <small>by Admin</small></h3>
		</div>
		<div class="body">
			<%- post.content %>
		</div>
  		<div class="footer">
  			<div class="tags">
  				<% for(var i=0;i<post.tags.length;i++) { %>
  					<span><%= post.tags[i] %></span>
  				<% } %>
  			</div>
  		</div>
	</div>
</div>
<div class="comment-form">
	<form method="post">
		<div class="comment-input">
			<div class="col">
				<label>Display Name</label>
				<input type="text" name="name" placeholder="John Doe" />
			</div>
			<div class="col">
				<label>Email <small>Hide? <input type="checkbox" name="hideEmail" value="yes" /></small></label>
				<input type="text" name="email" placeholder="web@email.net" />
			</div>
			<div class="comment-box">
				<textarea name="comment" placeholder="Hello World!"></textarea>
			</div>
			<div class="col">
				<label>Twitter Handle</label>
				<input type="text" name="twitter" placeholder="@twitter" />
			</div>
			<div class="col">
				<label>Twitch TV Link</label>
				<input type="text" name="twitchtv" placeholder="/twitch_user" />
			</div>
		</div>
		<div class="comment-captcha">
			<div>
				<img id="captcha" src="/captcha" />
				<button class="captcha-refresh" type="button" onclick="javascript:document.getElementById('captcha').src = '/captcha?' + new Date().getTime();">Refresh</button>
			</div>
			<label>Captcha</label>
			<input type="text" name="captcha" />
			<div>
				<button class="comment-submit" type="submit">Comment!</button>
			</div>
		</div>
	</form>
</div>
<% if(post.comments) for(var i=0;i<post.comments.length;i++) { %>
<div class="comment">
	<div class="header">
		<h3>
			<a href="mailto:<% if(!post.comments[i].hideEmail) { %><%= post.comments[i].email %><% } %>">by <%= post.comments[i].name %></a>
			<small>
				<% if(post.comments[i].twitter) { %>
				<a href="https://twitter.com/<%= post.comments[i].twitter.substr(1) %>" target="_blank"><%= post.comments[i].twitter %></a>
				<% } %>
				<% if(post.comments[i].twitchtv) { %>
				<a href="http://www.twitch.tv<%= post.comments[i].twitchtv %>" target="_blank"><%= post.comments[i].twitchtv %></a>
				<% } %>
			</small>
		</h3>
	</div>
	<div class="body">
		<%= post.comments[i].comment %>
	</div>
	<div class="footer">
		<span><%= post.comments[i].created.toDateString() %></span>
	</div>
</div>
<% } %>